<div class="footer">
  <div class="footer-links">
    <%= link_to "Mentions légales", "mentions.html" %>
    <%= link_to "Nous contacter", "contact.html" %>
    <%= link_to "Qui sommes-nous", "nous.html" %>
    <%= link_to "Notre métier", "metier.html" %>
  </div>
  <div class="footer-social" align="center">
    <%= link_to "", 'https://www.linkedin.com/company/25532023/', class: "fa fa-linkedin-square", target: '_blank' %>
  </div>
  <div class="footer-copyright">
    <p><i class="fa fa-copyright" aria-hidden="true"></i> 2018 - AB Web Lille - All right reserved</p>
  </div>
</div>
