<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title_tag).blank? ? "AB Web Lille - Accompagnement à la création et l'amélioration de site web" : "#{yield(:title_tag)} - AB Web Lille - Accompagnement à la création et l'amélioration de site web" %></title>
<!-- Facebook Open Graph data -->
    <meta property="og:title" content="AB Web Lille - Création et amélioration web.">
    <meta property="og:image" content="logo.png">
    <meta property="og:description" content=" Vous cherchez à faire ou refaire votre site internet ? Nous sommes là pour vous accompagner.">
    <meta property="og:site_name" content="Influoo"/>
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
<!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Influoo - Boost your communication with influencers">
    <meta name="twitter:description" content="Influoo is the new platform to find influencers matching your brand and products. Use their community to grow yours.">

    <%= render 'shared/metatags' %>

    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <meta name="description" content="Social media are more than important for brands. On the other hand, some people came quickly influencers on Instagram, Facebook or Twitter, followed by a huge community of fans">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link href="/theme/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- custom css (blue color by default) -->
    <link href="/theme/css/style.css" rel="stylesheet" type="text/css" media="screen">

    <!-- font awesome for icons -->
    <link href="/theme/font-awesome/css/font-awesome.min.css" rel="stylesheet">


    <!-- flex slider css -->
    <link href="/theme/css/flexslider.css" rel="stylesheet" type="text/css" media="screen">
    <!-- animated css  -->
    <link href="/theme/css/animate.css" rel="stylesheet" type="text/css" media="screen">

    <title>AB Web Lille</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= yield %>
    <%= render 'shared/footer' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>

</html>
