<!DOCTYPE html>
<html>
  <head>
    <title>"AB Web Lille - Accompagnement à la création et l'amélioration de site web" </title>
<!-- Facebook Open Graph data -->
    <meta property="og:title" content="AB Web Lille - Accompagnement à la création et l'amélioration de sites web">
    <meta property="og:image" content="banner.jpg">
    <meta property="og:description" content=" Vous cherchez à faire ou refaire votre site internet ? Nous sommes là pour vous accompagner dans l'amélioration visuelle et textuelle de votre site.">
    <meta property="og:site_name" content="AB-web-Lille"/>
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
<!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="AB Web Lille - Accompagnement Web">
    <meta name="twitter:description" content="Vous cherchez à faire ou refaire votre site internet ? Nous sommes là pour vous accompagner.">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117427067-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-117427067-1');
    </script>

    <%= render 'shared/metatags' %>

    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <meta name="description" content="L'agence digitale AB Web Lille vous accompagne dans l'amélioration et l
    'optimisation de votre site internet, quelque soit la technologie utilisée.">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link href="/theme/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- custom css (blue color by default) -->
    <link href="/theme/css/style.css" rel="stylesheet" type="text/css" media="screen">

    <!-- font awesome for icons -->
    <link href="/theme/font-awesome/css/font-awesome.min.css" rel="stylesheet">


    <!-- flex slider css -->
    <link href="/theme/css/flexslider.css" rel="stylesheet" type="text/css" media="screen">
    <!-- animated css  -->
    <link href="/theme/css/animate.css" rel="stylesheet" type="text/css" media="screen">

    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= yield %>
    <%= render 'shared/footer' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>

</html>
